*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root{
    height: 100vh;
    width: 70vw;
    margin: auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/sfondo-tablet.jpg");
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    padding: 50px;
    height: 100px;
    width: 30%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.tablet{
    margin: 20px auto;
    width: 40%;
    border-radius: 15px;
    padding: 40px 40px 5px 40px;
    text-align: center;
    background-color: rgb(92, 91, 91);
    border: 1px solid black;
    
}

button{
    margin: 5px;
    padding: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

ul{
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-image: linear-gradient(to right, #c7c7c7 , #d6d1d1);
}

li{
    
    font-size: 20px;
    margin: 20px;
 
}